In [1]:
import os
import pandas as pd
import numpy as np

In [2]:
#file to load
#load sales(consumption)

sales_load = 'Resources/sales_revenue copy.csv'
# monthly_total_fuel = 'Resources/Monthly_Total_Fuel.csv'

#store the data as Pandas DataFrame
sales_load_df = pd.read_csv(sales_load,  header=[0,1], index_col=[0,1,2,3])
# monthly_total_fuel_df = pd.read_csv(monthly_total_fuel ,header = [0])

In [3]:
# consumption data per sector and per states
# data can be useful in analyzing GDP per sectors, and or States
sales_load_df

                                          RESIDENTIAL                      \
                             Revenue/Thousand Dollars Sales/Megawatthours
Year Month State Data Status
1990 1     AK    Final                         17,477             181,752
           AL    Final                        123,332           2,070,093
           AR    Final                         72,506           1,026,320
           AZ    Final                        109,332           1,396,499
           CA    Final                        597,161           6,168,009
...                                               ...                 ...
2021 9     VT    Preliminary                   31,345             160,261
           WA    Preliminary                  250,236           2,406,450
           WI    Preliminary                  255,973           1,698,928
           WV    Preliminary                   95,922             754,768
           WY    Preliminary                   22,285             184,896

                                                              \
                             Customers/Count Price/Cents/kWh
Year Month State Data Status
1990 1     AK    Final                     .            9.62
           AL    Final                     .            5.96
           AR    Final                     .            7.06
           AZ    Final                     .            7.83
           CA    Final                     .            9.68
...                                      ...             ...
2021 9     VT    Preliminary         318,649           19.56
           WA    Preliminary       3,223,961           10.40
           WI    Preliminary       2,767,537           15.07
           WV    Preliminary         862,239           12.71
           WY    Preliminary         279,535           12.05

                                           COMMERCIAL                      \
                             Revenue/Thousand Dollars Sales/Megawatthours
Year Month State Data Status
1990 1     AK    Final                         15,818             178,259
           AL    Final                         54,495             820,415
           AR    Final                         30,966             474,988
           AZ    Final                         82,694           1,081,793
           CA    Final                        508,517           6,011,774
...                                               ...                 ...
2021 9     VT    Preliminary                   26,561             157,063
           WA    Preliminary                  210,012           2,266,805
           WI    Preliminary                  218,764           1,942,036
           WV    Preliminary                   55,912             581,169
           WY    Preliminary                   27,424             281,554

                                                              \
                             Customers/Count Price/Cents/kWh
Year Month State Data Status
1990 1     AK    Final                     .            8.87
           AL    Final                     .            6.64
           AR    Final                     .            6.52
           AZ    Final                     .            7.64
           CA    Final                     .            8.46
...                                      ...             ...
2021 9     VT    Preliminary          60,244           16.91
           WA    Preliminary         401,725            9.26
           WI    Preliminary         363,635           11.26
           WV    Preliminary         148,573            9.62
           WY    Preliminary          58,560            9.74

                                           INDUSTRIAL                      \
                             Revenue/Thousand Dollars Sales/Megawatthours
Year Month State Data Status
1990 1     AK    Final                          3,636              41,610
           AL    Final                         87,762           2,099,546
           AR    Final                         37,046             782,491
           AZ    Final                         43,274             809,797
           CA    Final                        268,759           4,454,664
...                                               ...                 ...
2021 9     VT    Preliminary                   13,109             112,188
           WA    Preliminary                  108,495           1,779,321
           WI    Preliminary                  161,732           1,977,257
           WV    Preliminary                   74,735           1,163,944
           WY    Preliminary                   53,103             775,668

                              ...  TRANSPORTATION                  \
                              ... Customers/Count Price/Cents/kWh
Year Month State Data Status  ...
1990 1     AK    Final        ...               .               .
           AL    Final        ...               .               .
           AR    Final        ...               .               .
           AZ    Final        ...               .               .
           CA    Final        ...               .               .
...                           ...             ...             ...
2021 9     VT    Preliminary  ...               0               0
           WA    Preliminary  ...               5            9.98
           WI    Preliminary  ...               2           14.19
           WV    Preliminary  ...               0               0
           WY    Preliminary  ...               0               0

                                                OTHER                      \
                             Revenue/Thousand Dollars Sales/Megawatthours
Year Month State Data Status
1990 1     AK    Final                          1,918              14,816
           AL    Final                          2,851              53,954
           AR    Final                          3,117              47,600
           AZ    Final                          7,833             151,064
           CA    Final                         32,100             869,565
...                                               ...                 ...
2021 9     VT    Preliminary                        .                   .
           WA    Preliminary                        .                   .
           WI    Preliminary                        .                   .
           WV    Preliminary                        .                   .
           WY    Preliminary                        .                   .

                                                              \
                             Customers/Count Price/Cents/kWh
Year Month State Data Status
1990 1     AK    Final                     .           12.95
           AL    Final                     .            5.28
           AR    Final                     .            6.55
           AZ    Final                     .            5.19
           CA    Final                     .            3.69
...                                      ...             ...
2021 9     VT    Preliminary               .               .
           WA    Preliminary               .               .
           WI    Preliminary               .               .
           WV    Preliminary               .               .
           WY    Preliminary               .               .

                                                TOTAL                      \
                             Revenue/Thousand Dollars Sales/Megawatthours
Year Month State Data Status
1990 1     AK    Final                         38,848             416,438
           AL    Final                        268,440           5,044,008
           AR    Final                        143,635           2,331,399
           AZ    Final                        243,133           3,439,153
           CA    Final                      1,406,536          17,504,013
...                                               ...                 ...
2021 9     VT    Preliminary                   71,015             429,512
           WA    Preliminary                  569,537           6,460,520
           WI    Preliminary                  636,485           5,618,333
           WV    Preliminary                  226,569           2,499,882
           WY    Preliminary                  102,812           1,242,118


                             Customers/Count Price/Cents/kWh
Year Month State Data Status
1990 1     AK    Final                     .            9.33
           AL    Final                     .            5.32
           AR    Final                     .            6.16
           AZ    Final                     .            7.07
           CA    Final                     .            8.04
...                                      ...             ...
2021 9     VT    Preliminary         379,134           16.53
           WA    Preliminary       3,652,444            8.82
           WI    Preliminary       3,136,865           11.33
           WV    Preliminary       1,022,112            9.06
           WY    Preliminary         349,841            8.28

[19431 rows x 24 columns]

In [4]:
sales_load_df.columns.levels

FrozenList([['COMMERCIAL', 'INDUSTRIAL', 'OTHER', 'RESIDENTIAL', 'TOTAL', 'TRANSPORTATION'], ['Customers/Count', 'Price/Cents/kWh', 'Revenue/Thousand Dollars', 'Sales/Megawatthours']])

In [5]:
sales_load_df.index.levels

FrozenList([[1990, 1991, 1992, 1993, 1994, 1995, 1996, 1997, 1998, 1999, 2000, 2001, 2002, 2003, 2004, 2005, 2006, 2007, 2008, 2009, 2010, 2011, 2012, 2013, 2014, 2015, 2016, 2017, 2018, 2019, 2020, 2021], [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12], ['AK', 'AL', 'AR', 'AZ', 'CA', 'CO', 'CT', 'DC', 'DE', 'FL', 'GA', 'HI', 'IA', 'ID', 'IL', 'IN', 'KS', 'KY', 'LA', 'MA', 'MD', 'ME', 'MI', 'MN', 'MO', 'MS', 'MT', 'NC', 'ND', 'NE', 'NH', 'NJ', 'NM', 'NV', 'NY', 'OH', 'OK', 'OR', 'PA', 'RI', 'SC', 'SD', 'TN', 'TX', 'UT', 'VA', 'VT', 'WA', 'WI', 'WV', 'WY'], ['Final', 'Preliminary']])

In [6]:
sales_load_df.columns.get_level_values(0)

Index(['RESIDENTIAL', 'RESIDENTIAL', 'RESIDENTIAL', 'RESIDENTIAL',
       'COMMERCIAL', 'COMMERCIAL', 'COMMERCIAL', 'COMMERCIAL', 'INDUSTRIAL',
       'INDUSTRIAL', 'INDUSTRIAL', 'INDUSTRIAL', 'TRANSPORTATION',
       'TRANSPORTATION', 'TRANSPORTATION', 'TRANSPORTATION', 'OTHER', 'OTHER',
       'OTHER', 'OTHER', 'TOTAL', 'TOTAL', 'TOTAL', 'TOTAL'],
      dtype='object')

In [7]:
sales_load_df.columns.get_level_values(1)

Index(['Revenue/Thousand Dollars', 'Sales/Megawatthours', 'Customers/Count',
       'Price/Cents/kWh', 'Revenue/Thousand Dollars', 'Sales/Megawatthours',
       'Customers/Count', 'Price/Cents/kWh', 'Revenue/Thousand Dollars',
       'Sales/Megawatthours', 'Customers/Count', 'Price/Cents/kWh',
       'Revenue/Thousand Dollars', 'Sales/Megawatthours', 'Customers/Count',
       'Price/Cents/kWh', 'Revenue/Thousand Dollars', 'Sales/Megawatthours',
       'Customers/Count', 'Price/Cents/kWh', 'Revenue/Thousand Dollars',
       'Sales/Megawatthours', 'Customers/Count', 'Price/Cents/kWh'],
      dtype='object')

In [8]:
sales_load_df.columns

MultiIndex([(   'RESIDENTIAL', 'Revenue/Thousand Dollars'),
            (   'RESIDENTIAL',      'Sales/Megawatthours'),
            (   'RESIDENTIAL',          'Customers/Count'),
            (   'RESIDENTIAL',          'Price/Cents/kWh'),
            (    'COMMERCIAL', 'Revenue/Thousand Dollars'),
            (    'COMMERCIAL',      'Sales/Megawatthours'),
            (    'COMMERCIAL',          'Customers/Count'),
            (    'COMMERCIAL',          'Price/Cents/kWh'),
            (    'INDUSTRIAL', 'Revenue/Thousand Dollars'),
            (    'INDUSTRIAL',      'Sales/Megawatthours'),
            (    'INDUSTRIAL',          'Customers/Count'),
            (    'INDUSTRIAL',          'Price/Cents/kWh'),
            ('TRANSPORTATION', 'Revenue/Thousand Dollars'),
            ('TRANSPORTATION',      'Sales/Megawatthours'),
            ('TRANSPORTATION',          'Customers/Count'),
            ('TRANSPORTATION',          'Price/Cents/kWh'),
            (         'OTHER', 'Revenue/Thousand Dollars'),
            (         'OTHER',      'Sales/Megawatthours'),
            (         'OTHER',          'Customers/Count'),
            (         'OTHER',          'Price/Cents/kWh'),
            (         'TOTAL', 'Revenue/Thousand Dollars'),
            (         'TOTAL',      'Sales/Megawatthours'),
            (         'TOTAL',          'Customers/Count'),
            (         'TOTAL',          'Price/Cents/kWh')],
           )

In [9]:
sales_load_df.index

MultiIndex([(1990, 1, 'AK',       'Final'),
            (1990, 1, 'AL',       'Final'),
            (1990, 1, 'AR',       'Final'),
            (1990, 1, 'AZ',       'Final'),
            (1990, 1, 'CA',       'Final'),
            (1990, 1, 'CO',       'Final'),
            (1990, 1, 'CT',       'Final'),
            (1990, 1, 'DC',       'Final'),
            (1990, 1, 'DE',       'Final'),
            (1990, 1, 'FL',       'Final'),
            ...
            (2021, 9, 'SD', 'Preliminary'),
            (2021, 9, 'TN', 'Preliminary'),
            (2021, 9, 'TX', 'Preliminary'),
            (2021, 9, 'UT', 'Preliminary'),
            (2021, 9, 'VA', 'Preliminary'),
            (2021, 9, 'VT', 'Preliminary'),
            (2021, 9, 'WA', 'Preliminary'),
            (2021, 9, 'WI', 'Preliminary'),
            (2021, 9, 'WV', 'Preliminary'),
            (2021, 9, 'WY', 'Preliminary')],
           names=['Year', 'Month', 'State', 'Data Status'], length=19431)

In [16]:
sales_load_df.loc[1990:2021,'RESIDENTIAL']

                             Revenue/Thousand Dollars Sales/Megawatthours  \
Year Month State Data Status
1990 1     AK    Final                         17,477             181,752
           AL    Final                        123,332           2,070,093
           AR    Final                         72,506           1,026,320
           AZ    Final                        109,332           1,396,499
           CA    Final                        597,161           6,168,009
...                                               ...                 ...
2021 9     VT    Preliminary                   31,345             160,261
           WA    Preliminary                  250,236           2,406,450
           WI    Preliminary                  255,973           1,698,928
           WV    Preliminary                   95,922             754,768
           WY    Preliminary                   22,285             184,896

                             Customers/Count  Price/Cents/kWh
Year Month State Data Status
1990 1     AK    Final                     .             9.62
           AL    Final                     .             5.96
           AR    Final                     .             7.06
           AZ    Final                     .             7.83
           CA    Final                     .             9.68
...                                      ...              ...
2021 9     VT    Preliminary         318,649            19.56
           WA    Preliminary       3,223,961            10.40
           WI    Preliminary       2,767,537            15.07
           WV    Preliminary         862,239            12.71
           WY    Preliminary         279,535            12.05

[19431 rows x 4 columns]

In [68]:
# monthly total energy used in all sectors
# This data is useful to have an understanding of the energy use in the US since 2001
monthly_total_fuel_df

      Month  United States : all fuels (utility-scale) thousand megawatthours
0    Oct-21                                        321061.6853
1    Sep-21                                        348077.0410
2    Aug-21                                        413949.2978
3    Jul-21                                        404662.6142
4    Jun-21                                        373670.8599
..      ...                                                ...
245  May-01                                        300491.6210
246  Apr-01                                        278078.8710
247  Mar-01                                        300706.5440
248  Feb-01                                        282940.1980
249  Jan-01                                        332493.1600

[250 rows x 2 columns]

In [32]:
#check nan in monthly_total_fuel
monthly_total_fuel_df.isnull().values.any()

False

In [33]:
# data info monthly_total_fuel_df
monthly_total_fuel_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 250 entries, 0 to 249
Data columns (total 2 columns):
 #   Column                                                            Non-Null Count  Dtype
---  ------                                                            --------------  -----
 0   Month                                                             250 non-null    object
 1   United States : all fuels (utility-scale) thousand megawatthours  250 non-null    float64
dtypes: float64(1), object(1)
memory usage: 4.0+ KB

In [9]:
# info on sales data
sales_load_df.info()

<class 'pandas.core.frame.DataFrame'>
MultiIndex: 19431 entries, (1990, 1, 'AK', 'Final') to (2021, 9, 'WY', 'Preliminary')
Data columns (total 24 columns):
 #   Column                                      Non-Null Count  Dtype
---  ------                                      --------------  -----
 0   (RESIDENTIAL, Revenue/Thousand Dollars)     19431 non-null  object
 1   (RESIDENTIAL, Sales/Megawatthours)          19431 non-null  object
 2   (RESIDENTIAL, Customers/Count)              19431 non-null  object
 3   (RESIDENTIAL, Price/Cents/kWh)              19431 non-null  float64
 4   (COMMERCIAL, Revenue/Thousand Dollars)      19431 non-null  object
 5   (COMMERCIAL, Sales/Megawatthours)           19431 non-null  object
 6   (COMMERCIAL, Customers/Count)               19431 non-null  object
 7   (COMMERCIAL, Price/Cents/kWh)               19431 non-null  object
 8   (INDUSTRIAL, Revenue/Thousand Dollars)      19431 non-null  object
 9   (INDUSTRIAL, Sales/Megawatthours)           19431 non-null  object
 10  (INDUSTRIAL, Customers/Count)               19431 non-null  object
 11  (INDUSTRIAL, Price/Cents/kWh)               19431 non-null  object
 12  (TRANSPORTATION, Revenue/Thousand Dollars)  19431 non-null  object
 13  (TRANSPORTATION, Sales/Megawatthours)       19431 non-null  object
 14  (TRANSPORTATION, Customers/Count)           19431 non-null  object
 15  (TRANSPORTATION, Price/Cents/kWh)           19431 non-null  object
 16  (OTHER, Revenue/Thousand Dollars)           19431 non-null  object
 17  (OTHER, Sales/Megawatthours)                19431 non-null  object
 18  (OTHER, Customers/Count)                    19431 non-null  object
 19  (OTHER, Price/Cents/kWh)                    19431 non-null  object
 20  (TOTAL, Revenue/Thousand Dollars)           19431 non-null  object
 21  (TOTAL, Sales/Megawatthours)                19431 non-null  object
 22  (TOTAL, Customers/Count)                    19431 non-null  object
 23  (TOTAL, Price/Cents/kWh)                    19431 non-null  float64
dtypes: float64(2), object(22)
memory usage: 3.6+ MB

In [176]:
# sales_load_df[(   'RESIDENTIAL', 'Revenue/Thousand Dollars')] = pd.to_numeric(sales_load_df[(   'RESIDENTIAL', 'Revenue/Thousand Dollars')])